div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: var(--color-primary-light);
  color: var(--color-white);
}

div.header h1 {
  font-weight: 300;
}


